---
title: David  Keyes
description: Yet Another Tailwind Alpine Starter Project for 11ty!
layout: layouts/base.njk
---

<div class="flex items-center justify-center mt-16">
  <div class="relative w-full max-w-lg">
    <div class="absolute top-0 bg-blue-300 rounded-full -left-4 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div>
    <div class="absolute top-0 bg-yellow-300 rounded-full -right-4 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"></div>
    <div class="absolute bg-red-300 rounded-full -bottom-8 left-20 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
    <div class="relative m-8 space-y-4">
      <div class="flex items-center justify-center w-2/3 mx-auto">

        <img src="img/david-keyes.jp" class="rounded-full" alt="David Keyes"/>

      </div>
    </div>
  </div>
</div>

<div class="flex items-center justify-center w-full min-h-full my-2">
  <img class="h-96" src="img/arrow-wiggly-dashed-hollow.svg">
</div>

<div class="max-w-2xl mx-auto mb-16 text-2xl prose-lg">

  <h2 class="text-center">Howdy, I'm David.</h2>
  <p>You probably know me a the founder of <a href="https://rfortherestofus.com">R for the Rest of Us.</a>
  </p>
  <p>I love R now, but <a href="https://rfortherestofus.com/2019/04/my-r-journey-david-keyes/">I had a really hard time learning it.</a>
  </p>
  <p>That's why I love helping others avoid the pain I experienced.</p>
  <p>Send me an <a href="mailto:david@rfortherestofus.com">email</a>, find me on <a href="https://twitter.com/dgkeyes/">Twitter</a>, or connect on <a href="https://www.linkedin.com/in/dgkeyes/">LinkedIn</a>.</p>
</div>