<section class="">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        <article class="my-8 bg-white">
            <p class="font-normal text-lg text-gray-900 my-2">
                <a class="font-light" href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </p>
         
           

       


        </article>
    {% endfor %}
</section>